@font-face {
   font-family: 'lovefont' ;
   src: url('../fonts/FONTLOVE.ttf') format('truetype');
}

@font-face {
   font-family: 'lovefont2' ;
   src: url('../fonts/WORDSOFLOVE.ttf') format('truetype');
}

@font-face {
   font-family: 'lovefont3' ;
   src: url('../fonts/AffectionatelyYours.ttf') format('truetype');
}

html, body{
  height:100%;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

.countdownmain{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 45px;
    padding: 100px;
    font-family: 'lovefont3', san-serif;
    visibility: hidden;
}

.title {
  width: 50%;
}

#countdown{
    color: #de0000;
    font-size: 60px;
    font-family: 'lovefont', san-serif;
    /*font-weight: bold;*/
}

.heart-text {
  font-size: 15px;
  width: 100px;
  height: 90px;
  float: left;
  top: -50%;
  position: absolute; 
  display: table;
  animation: .8s infinite beat;
}

.hbd-text{
  display: table-cell;
  text-align: center;
}

.heart-text.right {
  left: auto;
  right: 0;
}

.heart-text:before,
.heart-text:after {
  position: absolute;
  content: '';
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: #fc2e5a;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart-text:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}



.bg_heart {
    visibility: hidden;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
 }

.heart {
    position: absolute;
    top: -50%;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -m-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 }

.heart:before {
    position: absolute;
    top: -50%;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

.heart:after {
    position: absolute;
    top: 0;
    right: -50%;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    border-radius: 100%;
}

@-webkit-keyframes love {
  0%{top:110%}
}
@-moz-keyframes love {
  0%{top:110%}
}
@-ms-keyframes love {
  0%{top:110%}
}
@keyframes love {
  0%{top:110%}
}

@keyframes beat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}